.picture-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.pictures-loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1270px) {
  .picture-grid-container {
    width: 595px;
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 595px) {
  .picture-grid-container {
    width: 297.5px;
    grid-template-columns: 1fr;
  }
}